{{#*inline "page"}}

<script src="/scripts/operator/handlebars-helpers.js"></script>

<h3>Withdrawal requests</h3>
<table>
    <thead>
        <tr>
            <th><b>Request ID</b></th>
            <th><b>User ID</b></th>
            <th><b>Currency</b></th>
            <th><b>Address</b></th>
            <th><b>Created at</b></th>
            <th><b>Amount</b></th>
            <th><b>Status</b></th>
            <th><b>Actions</b></th>
        </tr>
    </thead>
    <tbody>
        {{#each withdrawal_requests as |withdrawal_request|}}
            <tr>
                <td>{{id}}</td>
                <td>{{user}}</td>
                <td>{{render_currency address}}</td>
                <td>{{render_address address}}</td>
                <td>{{created_at}}</td>
                <td>{{amount}}</td>
                <td>{{confrimtaion_status}}</td>
                <td>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="button primary icon">Confirm</button>
                        </div>
                        <div class="col">
                            <button type="button" class="button error icon">Reject</button>
                        </div>
                    </div>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{/inline}}
{{> base}}