{{#*inline "page"}}

<link rel="stylesheet" type="text/css" href="/css/operator/style.css" />
<script src="/scripts/operator/jscu.bundle.js"></script>
<script src="/scripts/operator/jscec.bundle.js"></script>
<script src="/scripts/operator/page/index.js"></script>

<h3>Select the private key file</h3>
<div class="file-selector-wrapper">
    <input type="file" id="file-selector" accept=".pem" />
    <span id="file-selector-status"></span>
</div>

<h3>Withdrawal requests</h3>
<table>
    <thead>
        <tr>
            <th><b>Request ID</b></th>
            <th><b>User ID</b></th>
            <th><b>Currency</b></th>
            <th><b>Address</b></th>
            <th><b>Created at</b></th>
            <th><b>Amount</b></th>
            <th><b>Status</b></th>
            <th><b>Actions</b></th>
        </tr>
    </thead>
    <tbody>
        {{#each withdrawal_requests as |request|}}
        <tr>
            <td>{{id}}</td>
            <td>{{user}}</td>
            {{#each address}}
            {{#if @first}}
            <td>{{@key}}</td>
            <td>{{this}}</td>
            {{/if}}
            {{/each}}

            <td>{{created_at}}</td>
            <td>{{amount}}</td>
            <td>{{confrimtaion_status}}</td>
            <td>
                <div class="row">
                    <div class="col">
                        <button type="button" class="button primary icon" disabled>Confirm</button>
                    </div>
                    <div class="col">
                        <button type="button" class="button error icon" disabled>Reject</button>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/inline}}
{{> base}}