<h3>Change requests</h3>
<table>
    <thead>
        <tr>
            <th><b>Time</b></th>
            <th><b>ID</b></th>
            <th><b>User</b></th>
            <th><b>Currency</b></th>
            <th><b>Current</b></th>
            <th><b>New</b></th>
            <th><b>Status</b></th>
            <th><b>Actions</b></th>
        </tr>
    </thead>
    <tbody id="limit-change-table-body">
        {{#each changes}}
            <tr id="{{this.id}}">
                <td>{{renderTime}}</td>
                <td><span id="{{this.id}}-id">{{truncateChangeId}}</span></td>
                <td>{{this.user}}</td>
                <td>{{limitsFormatName}}</td>
                <td>{{renderCurLimit}}</td>
                <td>{{renderNewLimit}}</td>
                <td>{{renderChangeStatus}}</td>
                <td>
                    <div class="row pull-left">
                        <div class="col">
                            <button id="{{this.id}}-confirm" class="button primary">Confirm</button>
                        </div>
                        <div class="col">
                            <button id="{{this.id}}-reject" class="button error">Reject</button>
                        </div>
                    </div>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>