{{#each history_items}}
<div class="row card">
   <div class="col">
      {{#if (isDeposit this)}}
      <span class="text-success"> + &nbsp; {{formatCurrencyValue}}</span>
      {{else}}
      <span class="text-error"> - &nbsp; {{formatCurrencyValue}}</span>
      {{/if}}
   </div>
   <div class="col">
      {{currency}}
   </div>
   <div class="col">
      {{formattedElapsedTime}}
   </div>
   {{#if (isWithdrawal this)}}
   <div class="col">
      Status: {{status}}
   </div>
   {{/if}}
   {{#if (isDeposit this)}}
   {{#if (isInProgress ../target_number_of_confirmations number_of_confirmations )}}
   <div class="col">
      Confirmations: {{number_of_confirmations}} of {{../target_number_of_confirmations}}
   </div>
   {{else}}
   <div class="col">
      Completed
   </div>

   {{/if}}
   {{/if}}
</div>
{{/each}}