{{#each history_items}}
<div class="row">
   <div class="col">
      {{#if (isDeposit this)}}
      <span class="text-success"> +{{formatCurrencyValue}}</span>
      {{else}}
      <span class="text-error"> -{{formatCurrencyValue}}</span>
      {{/if}}
      {{#if is_rbf}}
      <span class=" bg-grey text-white">&nbsp; RBFed &nbsp;</span>
      {{/if}}
   </div>
   <div class="col">
      {{currency}}
   </div>
   <div class="col">
      {{formattedElapsedTime}}
   </div>
   {{#if (isWithdrawal this)}}
   <div class="col">
      Status: {{formatWithdrawalStatus status}}
   </div>
   {{/if}}
   {{#if (isDeposit this)}}
   {{#if (isInProgress ../target_number_of_confirmations number_of_confirmations )}}
   <div class="col">
      Confirmations: {{number_of_confirmations}} of {{../target_number_of_confirmations}}
   </div>
   {{else}}
   <div class="col">
      Status: Completed
   </div>

   {{/if}}
   {{/if}}
</div>
<hr>
{{/each}}