{{#each history_items}}

<div class="columns content-row">
  <div class="column-item-one">
    <div class="rt-item-one">
      <span class="icon rt-item-icon-one"><span class="mdi mdi-arrow-collapse-up mdi-24px"></span></span>
    </div>
  </div>
  <div class="column">
    <span class="rt-item-two-bg">Withdrawal {{currency}}</span>
    <br>
    <span class="rt-item-two-gr">{{formattedElapsedTime}}</span>
  </div>
  <div class="column">
    <span class="rt-item-three">as45sdff5d5f4df4df5d5f...</span>
  </div>
  <div class="column column-item-four">
    {{#if (isDeposit this)}}
    <span class="rt-item-four">+{{formatCurrencyValue}}</span>
    {{else}}
    <span class="rt-item-four">-{{formatCurrencyValue}}</span>
    {{/if}}
  </div>
  {{#if (isWithdrawal this)}}
  <div class="column">
     Status: {{status}}
  </div>
  {{/if}}
  {{#if (isDeposit this)}}
  {{#if (isInProgress ../target_number_of_confirmations number_of_confirmations )}}
  <div class="column">
     Confirmations: {{number_of_confirmations}} of {{../target_number_of_confirmations}}
  </div>
  {{else}}
  <div class="column">
     Status: Completed
  </div>

  {{/if}}
  {{/if}}
</div>
{{/each}}
