{{#each histories}}

<style media="screen">
</style>

<div class="columns content-row">
  <div class="column-item-one">
    <div class="rt-item-one">
      <span class="icon rt-item-icon-one"><span class="mdi {{arrow}} mdi-24px"></span></span>
    </div>
  </div>
  <div class="column-item-one is-1 ">
    <span class="rt-item-two-bg">{{flowType}}</span>
    <br>
    <span class="rt-item-two-gr" style="width: 3ch">{{timeStamp}}</span>
  </div>
  <div class="column-item-one is-1">
    <span class="rt-item-three" class="eth-hash-block"><a href="https://etherscan.io/tx/{{hash}}">{{hashtoshow}}</a></span>
  </div>
  <div class="column-item-one is-1">
    <span class="rt-item-three" class="eth-hash-block"><a href="https://etherscan.io/address/{{from}}">{{fromtoshow}}</a></span>
  </div>
  <div class="column-item-one is-1">
    <span class="rt-item-three" class="eth-hash-block"><a href="https://etherscan.io/address/{{to}}">{{totoshow}}</a></span>
  </div>
  <div class="column-item-one is-1">
    <span class="rt-item-three"></span>
  </div>
  <div class="column-item-one is-1">
    <span class="rt-item-three"></span>
  </div>
  <div class="column-item-one is-1">
    <span class="rt-item-three"></span>
  </div>
</div>
{{/each}}
