<h1 class="login-title">{{lang.signup}}</h1>

<div class="field">
    <label class="label">{{lang.username}}</label>
    <div class="control">
        <input id="username-input" type="text" class="input">
    </div>
</div>

<div class="field">
    <label class="label">{{lang.password}}</label>
    <div class="control">
        <input id="password-input" type="password" class="input">
    </div>
</div>

<div class="field">
    <label class="label">{{lang.reppassword}}</label>
    <div class="control">
        <input id="password-rep-input" type="password" class="input">
    </div>
</div>

<div class="field">
    <label class="label">{{lang.invite}}</label>
    <div class="control">
        <input id="invite-input" type="text" class="input">
    </div>
</div>

<div class="field" id="validation-error" hidden="true">
    <span class="is-danger">{{lang.alreadytaken}}</span>
</div>

<div class="field">
    <button id="submit" class="button is-primary is-fullwidth">{{lang.signupbtn}}</button>
</div>

<div class="field">
    {{lang.or}}
    <a href="/signin">{{lang.signin}}</a>
</div>