{{#if viaKey}}
<h1 class="login-title">{{lang.login_title}}</h1>

<div class="field">
    <label class="label">{{lang.login}}</label>
    <div class="select is-fullwidth">
        <select name="key" id="username-selector">
            {{#each this.keys}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
</div>

<div class="field">
    <label class="label">{{lang.keypassword}}</label>
    <div class="control">
        <input id="signInPassword" type="password" class="input">
    </div>
</div>

<div class="field" id="validationError" hidden="true">
    <span class="is-danger">{{lang.incorrect}}</span>
</div>

<div class="field">
    <button id="submit" class="button is-primary is-fullwidth">{{lang.loginbtn}}</button>
</div>

<div class="field">
    <a id="signin-login" class="button is-fullwidth">{{lang.vialogin}}</a>
</div>

<div class="field">
    {{lang.or}}
    <a href="/signup">{{lang.signup}}</a>
</div>
{{else}}
<h1 class="login-title">{{lang.login_title}}</h1>

<div class="field">
    <label class="label">{{lang.login}}</label>
    <div class="control">
        <input id="signInEmail" type="text" class="input">
    </div>
</div>

<div class="field">
    <label class="label">{{lang.password}}</label>
    <div class="control">
        <input id="signInPassword" type="password" class="input">
    </div>
</div>

<div class="field" id="validationError" hidden="true">
    <span class="is-danger">{{lang.incorrect}}</span>
</div>

<div class="field">
    <button id="submit" class="button is-primary is-fullwidth">{{lang.loginbtn}}</button>
</div>
{{#if hasKey}}
<div class="field">
    <a id="signin-key" class="button is-fullwidth">{{lang.viakey}}</a>
</div>
{{/if}}
<div class="field">
    {{lang.or}}
    <a href="/signup">{{lang.signup}}</a>
</div>
{{/if}}