<div class="margin-b-24px">
    <span class="font-mid-size font-dark-grey">{{lang.title}}</span>
</div>
{{#each tokens}}
<div class="content-row mt-5 ticker-with-checkbox">
    <span id="curr-name-{{tokenFormatName}}" class="font-big-size mr-2em">
        {{tokenFormatName}}
    </span>
    {{#if this.is_active}}
        <input id="checkbox-{{tokenFormatName}}" class="zoom-1-6" type="checkbox" checked>
    {{else}}
        <input id="checkbox-{{tokenFormatName}}" class="zoom-1-6" type="checkbox">
    {{/if}}
</div>
{{/each}}