<h4>Withdrawal requests</h4>
<table>
    <thead>
        <tr>
            <th><b>Time</b></th>
            <th><b>ID</b></th>
            <th><b>User</b></th>
            <th><b>Withdrawal address</b></th>
            <th><b>Amount</b></th>
            <th><b>Status</b></th>
            <th><b>Actions</b></th>
        </tr>
    </thead>
    <tbody>
        {{#each withdrawalRequests}}
        <tr class="withdrawal-request-row">
            <td>{{created_at}}</td>
            <td class="id-cell">
                <div class="centered-cell">
                    <span>
                        {{truncate id 8}}
                    </span>
                    <button class="button clear icon-only">
                        <img src="/images/copy.svg?size=18" class="icon-18px"></img>
                    </button>
                </div>
            </td>
            <td>{{user}}</td>
            <td class="address-cell">
                <div class="centered-cell">
                    <span>
                        {{truncateMiddle (formatAddress address) 15}}
                    </span>
                    <button class="button clear icon-only">
                        <img src="/images/copy.svg?size=18" class="icon-18px"></img>
                    </button>
                </div>
            </td>
            <td>{{amount}}</td>
            <td class="status-cell">
                <div class="centered-cell">
                    {{formatStatus confirmation_status ../requiredConfirmations}}
                    {{#if (isCompleted confirmation_status)}}
                    <a class="button clear icon-only" href="{{formatExplorerLink confirmation_status.txid}}">
                        <img src="/images/external-link.svg?size=18"></img>
                    </a>
                    {{/if}}
                </div>
            </td>
            <td class="action-buttons-cell">
                <div class="action-buttons-wrapper">
                    <button class="button primary">Confirm</button>
                    <button class="button error">Reject</button>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>