{{#*inline "css"}}
{{/inline}}

{{#*inline "scripts"}}
<script type="module" src="/scripts/common.js"></script>
<script type="module" src="/scripts/page/deposit.js"></script>
<script src="/scripts/handlebars.min-v4.7.7.js" defer></script>
<script src="/scripts/qrcode.min.js" defer></script>
{{/inline}}

{{#*inline "page"}}
<div class="tabs is-large is-centered">
    <ul id="tabs-ul">
        {{#each tabs}}
        {{#if (eq this ../selected)}}
        <li id="{{this}}-tab" class="is-active"><a class="is-uppercase">{{this}}</a></li>
        {{else}}
        <li id="{{this}}-tab"><a class="is-uppercase">{{this}}</a></li>
        {{/if}}
        {{/each}}
    </ul>
</div>
{{#each deposit_addresses}}
<div id="{{tab}}-tab-body">
    <div class="columns is-centered">
        <div class="column is-narrow">
            <div class="content-tab">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title is-centered">
                            {{#if (eq ../lang.selected_lang "EN")}}
                            <span class="has-text-weight-normal"><b>{{currency}}</b> {{ ../lang.deposit.description
                                }}</span>
                            {{else}}
                            <span class="has-text-weight-normal">{{ ../lang.deposit.description }}
                                <b>{{currency}}</b></span>
                            {{/if}}
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="is-flex is-flex-direction-column is-align-items-center">
                            <img src="data:image/png;base64, {{qr_code_base64}}">
                            <p>{{address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{/inline}}

{{> base_with_header}}