<div class="header">
    <div class="header-start">
        <a class="header-logo" href="/">
            LOGO
        </a>
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button header-dropdown header-lang">
                    <span id="lang-span">
                        {{lang.selected_lang}}
                    </span>
                    <span class="icon">
                        <i class="mdi mdi-chevron-down"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <a id="lang-en" href="#" class="dropdown-item">
                        {{lang.header.english}}
                    </a>
                    <a id="lang-ru" href="#" class="dropdown-item">
                        {{lang.header.russian}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-right">
        <div class="dropdown is-right">
            <div class="dropdown-trigger">
                <button class="button header-dropdown header-email">
                    <span id="navbarlogin">
                        {{username}}
                    </span>
                    <span class="icon">
                        <i class="mdi mdi-chevron-down"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <a href="/overview" class="dropdown-item">
                        {{lang.header.overview}}
                    </a>
                    <a href="/profile" class="dropdown-item">
                        {{lang.header.profile}}
                    </a>
                    <a href="/swap" class="dropdown-item">
                        {{lang.header.swap}}
                    </a>
                    <a href="/profile?tab=settings" class="dropdown-item">
                        {{lang.header.settings}}
                    </a>
                    <hr class="dropdown-divider" />
                    <a href="/logout" class="dropdown-item" id="logout-btn">
                        {{lang.header.logout}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
