{{#*inline "css"}}
{{/inline}}

{{#*inline "scripts"}}
<script type="module" src="/scripts/page/common.js"></script>
<script type="module" src="/scripts/page/profile.js"></script>
<script src="/scripts/handlebars.min-v4.7.7.js" defer></script>
<script src="https://unpkg.com/@popperjs/core@2" defer></script>
<script src="https://unpkg.com/tippy.js@6" defer></script>
{{/inline}}

{{#*inline "page"}}
<div class="tabs is-large is-centered">
    <ul id="tabs-ul">
        {{#each tabs}}
        {{#if (isEqString this.id ../selected)}}
            <li id="{{this.id}}-tab" class="is-active"><a class="is-uppercase">{{this.label}}</a></li>
        {{else}}
            <li id="{{this.id}}-tab"><a class="is-uppercase">{{this.label}}</a></li>
        {{/if}}
        {{/each}}
    </ul>
</div>
<div class="full-height" style="background-color: #ECEFF4;">
    <div class="container" style="padding-top: 25px;">
        <div class="box balance-box">
            {{#each tabs}}
            {{#if isEqString this.id ../selected}}
                <div class="row is-center fit-content" id="{{this.id}}-tab-body" style="display:block"></div>
            {{else}}
                <div class="row is-center fit-content" id="{{this.id}}-tab-body" style="display:none"></div>
            {{/if}}
            {{/each}}
        </div>
    </div>

</div>
{{/inline}}

{{> base_with_header}}