{{#*inline "css"}}
{{/inline}}

{{#*inline "scripts"}}
<script type="module" src="/scripts/common.js"></script>
<script type="module" src="/scripts/page/swap.js"></script>
<script src="/scripts/handlebars.min-v4.7.7.js" defer></script>
{{/inline}}

{{#*inline "page"}}

<div class="container box">
    <div class="content-row mt-1em">
        <span class="mr-1em">{{lang.swap.rate}}</span>
        <span id="rate-span"></span>
    </div>
    <div class="content-row mt-5">
        <div>
            <span class="mr-2em">{{lang.swap.from}}</span>
            <span id="from-avaliable" hidden>
                <span>{{lang.swap.available}}:</span>
                <span id="from-balance"></span>
            </span>
        </div>
        <div class="m-t-1em display-inline-flex height-2-5rem">
            <select name="from" class="p-05em mr-2em" id="select-from">
                <option value="" selected disabled hidden>{{lang.swap.choose}}</option>
                {{#each currencies}}
                    {{#if (eq this from)}}
                        <option value="{{this}}">{{this}}</option>
                    {{else}}
                        <option value="{{this}}">{{this}}</option>
                    {{/if}}
                {{/each}}
            </select>
            <input type="text" id="from_value" class="p-05em mr-2em">
            <span id="from-unit" class="mr-2em mtb-auto"></span>
            <button id="from-max-btn" style="display: none;" class="button is-primary ptb-0">{{lang.swap.max}}</button>
        </div>
    </div>
    <wbr>
    <div class="content-row mt-1em">
        <div>
            <span class="mr-1em">{{lang.swap.to}}</span>
        </div>
        <div class="m-t-1em display-inline-flex height-2-5rem">
            <select name="to" class="p-05em mt-1em mr-2em" id="select-to">
                <option value="" selected disabled hidden>{{lang.swap.choose}}</option>
                {{#each currencies}}
                    {{#if (eq this to)}}
                        <option value="{{this}}">{{this}}</option>
                    {{else}}
                        <option value="{{this}}">{{this}}</option>
                    {{/if}}
                {{/each}}
            </select>
            <input type="text" id="to_value" class="p-05em mr-2em">
            <span id="to-unit" class="mr-2em mtb-auto"></span>
        </div>
    </div>
    <wbr>
    <div class="field" id="validation-error" hidden="true">
        <span class="is-danger">{{lang.alreadytaken}}</span>
    </div>
    <wbr>
    <div class="test">
        <button id="swap" class="button">{{lang.swap.swap}}</button>
    </div>
</div>


{{/inline}}

{{> base_with_header}}
