{{#*inline "page"}}

<script type="module" src="/scripts/page/common.js"></script>
<script type="module" src="/scripts/page/withdraw.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bulma.min.css" />
<link rel="stylesheet" href="css/style.css">
<style>
  body {
    background-color: #ECEFF4;
  }

  .is-horizontal-center {
    justify-content: center;
  }
</style>

<div class="tabs is-large is-centered">
  <ul>
    {{#each tabs}}
    <li id="{{this}}-tab"><a class="is-uppercase">{{this}}</a></li>
    {{/each}}
  </ul>
</div>

{{#each tabs}}
<div id="{{this}}-tab-body">
  <div class="card column is-half is-offset-one-quarter">
    <div class='card-content'>
      <div class="columns is-center">
        <div class="column">
          Available: <span id="{{this}}_balance" balance=""></span>
        </div>
        <div class="column has-text-right">
          Fee: <span id="{{this}}_fee" fee=""></span>
        </div>
      </div>
      <div class="columns is-center">
        <div class="column">
          Address:
        </div>
        <div class="column is-8">
          <input class="input is-fullwidth" id="{{this}}_address" type="text">
        </div>
      </div>
      <div class="columns is-center">
        <div class="column is-4">
          Amount:
        </div>
        <div class="column is-6">
          <input class="input" id="{{this}}_send_amount" type="text">
        </div>
        <div class="column">
          <button id="max_{{this}}" type="button" class="button is-fullwidth">
            Max
          </button>
        </div>
      </div>
      <div class="columns is-center">
        <div class="column">
          <button id="send_{{this}}" type="button" class="button is-info is-fullwidth item-buttom-d">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{/inline}}
{{> base_footer_header}}