{{#*inline "css"}}
{{/inline}}

{{#*inline "scripts"}}
<script type="module" src="/scripts/common.js"></script>
<script type="module" src="/scripts/page/withdraw.js"></script>
<script src="/scripts/handlebars.min-v4.7.7.js" defer></script>
{{/inline}}

{{#*inline "page"}}
<div class="tabs is-large is-centered">
    <ul id="tabs-ul">
        {{#each tabs}}
        {{#if (eq this ../selected)}}
        <li id="{{this}}-tab" class="is-active"><a class="is-uppercase">{{this}}</a></li>
        {{else}}
        <li id="{{this}}-tab"><a class="is-uppercase">{{this}}</a></li>
        {{/if}}
        {{/each}}
    </ul>
</div>

{{#each tabs}}
<div id="{{this}}-tab-body">
    <div class="card column is-half is-offset-one-quarter">
        <div class='card-content'>
            <div class="columns is-center">
                <div class="column">
                    {{../lang.withdraw.avaliable}}: <span id="{{this}}-balance">{{balance}}</span>
                </div>
                <div class="column has-text-right">
                    {{../lang.withdraw.fee}}: <span id="{{this}}-fee">{{fee}}</span>
                </div>
            </div>
            <div class="columns is-center">
                <div class="column">
                    {{../lang.withdraw.limit}}: <span id="{{this}}-limit">{{this.limit}}</span>
                </div>
                <div class="column has-text-right">
                    {{../lang.withdraw.spent}}: <span id="{{this}}-spent">{{this.spent}}</span>
                </div>
            </div>
            <div class="columns is-center">
                <div class="column is-3">
                    {{../lang.withdraw.address}}:
                </div>
                <div class="column is-9">
                    <input class="input is-fullwidth" id="{{this}}-address" type="text">
                </div>
            </div>
            <div class="columns is-center">
                <div class="column is-3">
                    {{../lang.withdraw.amount}} ({{../lang.withdraw.in}} <span id="{{this}}-units"></span>):
                </div>
                <div class="column is-6">
                    <input class="input" id="{{this}}-send-amount" type="text">
                </div>
                <div class="column is-3">
                    <button id="max-{{this}}" type="button" class="button is-fullwidth">
                        {{../lang.withdraw.max}}
                    </button>
                </div>
            </div>
            <div class="columns is-center">
                <div class="column">
                    <button id="send-{{this}}" type="button" class="button is-info is-fullwidth item-buttom-d">
                        {{../lang.withdraw.send}}
                    </button>
                </div>
            </div>
        </div class="columns is-center">
        <label id="{{this}}-validation" hidden="hidden" class="text-error"></label>
    </div>
</div>
{{/each}}
{{/inline}}

{{> base_with_header}}